/* ShowCaseProducts */
.productCard {
  > img {
    transition: all 1s cubic-bezier(0.19, 1.5, 0.5, 1);
  }
  &:hover {
    > img {
      transform: translateY(-20px);
    }
  }
  &::before {
    content: "";
    position: absolute;
    inset: 25% 0 0 0;
    background: #f1f1f1f1;
    z-index: -1;
    border-radius: 8px;
  }
}
/* ShowCaseProducts */
