@import "tailwindcss";

:root{
  --sans: "Manrope", sans-serif;
}

@theme inline {
  --color-prime-100:#D87D4A;
  --color-prime-200:#fbaf85;
  --color-dark-100:#101010; 
  --color-dark-200:#000000; 
  --color-light-100: #F1F1F1;
  --color-light-200: #FAFAFA;
  --font-sans: var(--sans);
}

body, html{ 
  font-family: var(--sans);
}
body::after{
  content:"";
  position:absolute;
  inset: 0;
  z-index: 95;
  background: var(--color-dark-100);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
body[data-menu="open"]::after{
  opacity: 0.8;
}

button{
  cursor: pointer;
  border: none;
}