@import "tailwindcss";

:root {
  --sans: "Manrope", sans-serif;
}

@theme inline {
  --font-display: var(--sans);
  --color-prime-100: #d87d4a;
  --color-prime-200: #fbaf85;
  --color-dark-100: #101010;
  --color-dark-200: #000000;
  --color-light-100: #f1f1f1;
  --color-light-200: #fafafa;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 95;
  background: var(--color-dark-100);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  -moz-backdrop-filter: blur(0px);
}
body[data-menu="open"]::after {
  opacity: 0.8;
  backdrop-filter: grayscale(1);
  -webkit-backdrop-filter: grayscale(1);
  -moz-backdrop-filter: grayscale(1);
}

button {
  cursor: pointer;
  border: none;
}

.container {
  @apply max-w-[1110px] mx-auto;
}
